

tr {
    height: 25px;
}

td {
    padding: 15px;
    text-align: center;
}

#title_1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
}
#title_2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
}
#title_3{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
}
#title_4{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
}

/*css for the circles */

.circle div {
    float:left ;
    width:100%;
    padding-top:20%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:#47a3da;
}


.inner{
    stroke: white;
    stroke-width: 1px;
}

svg.pie {
    width: 150px;
    height: 190px;

}

circle {
    stroke-width: 1px;
}


.content button {
    background-color: #47a3da;
    -webkit-appearance: none;
    color: #ffffff;
    border: 5px solid #47a3da;
    border-radius: 5%;
    padding: 20px;
    font-size: 18pt;
    font-weight: 300;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.content button:hover {
    background-color: #ffffff;
    color: #47a3da;

}


#compare-days {
    display : none;
}

#start_comparing {
    position: relative;
    width: 300px;
    left: 30%;
    margin-bottom: 30px;
}


/* button to compare other trips */
#compare-other-trips{
    position: relative;
    width: 300px;
    left: 10%;
    margin-bottom: 30px;
}


/* Trip Selector */

#trip_selector {
    position: relative;
    display: block;
    height: 210px;
    min-width: 707px;
    margin-bottom: 50px;
}

/* Calendar Day Selector */

#calendar {
    position: absolute;
}


/* Calendar Selection Loading Popover */

#loading_popover {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 200px;
    margin-top: -60px;
    margin-left: -100px;
    background-color: #ffffff;
    border: solid 1px #47a3da;
    padding: 20px;
    padding-bottom: 0;
    overflow: hidden;
    box-shadow: 0 0 20px 0px lightgray;
}

#loading_popover .loading_message {
    text-align: center;
}


/* Calendar Trip Selector */

#calendar_arrow {
    position: absolute;
    height: 80px;
    top: 65px;
    left: 310px;
}

#trip_lister {
    position: absolute;
    left: 410px;
    top: 0;
    bottom: 0;
    right: 0;
    border: solid 1px #47a3da;
    padding: 10px;
    overflow: scroll;
}

#trip_lister li {
    line-height: 1.5em;
    cursor: pointer;
}

#trip_lister li:hover {
    color: #285e8e;
}


/* table compare grid lines*/

.table_compare td:nth-child(2) {
    color: rgba(255,174,27,1);
}

.table_compare td:nth-child(3) {
    color: rgba(151,187,205,1);
}
.table_compare td:nth-child(4) {
    color: rgba(126,116,133,1);
}
.table_compare td:nth-child(5) {
    color: rgba(54,255,187,1);
}

.table_compare td {
    box-shadow: 1px 0 0 #ddd
}


#elements_to_compare{
    font-weight: bold;
    text-transform: uppercase;
}

#enough-entries{
    display: none;
}

#buttons{
    margin-top: 50px;
    margin-bottom: 50px;
    display: none;
}
.buttons_for_graph button {
    margin-left: 10px;
    width: 250px;
}


/* the charts have to be invisible until the user wants to see them */

#first_chart{
    display: none;
}
#second_chart{
    display: none;
}
#speed_chart{
    display: none;
}
#heartbeat_chart{
    display: none;
}