

html { height: 100% }
body { height: 100%;
    margin: 0;
    padding: 0;
}

.container {height: 100%;
    width: 100%}

.picture {
    height: 200px
    width: 200px
}

#MapCanvas { height: 60% ;
    width: 70%;
    border: 1px solid #000000;
    float:left;
    margin: 0;
    text-align: center;
}
#MapOptions { float:left;
    margin: 5px;
}