

html { height: 100% }
body { height: 100%;
    margin: 0;
    padding: 0;
    min-width: 800px;
}

.container {height: 100%;
    width: 100%;
}

div.pictureContainer {
    width: 505px;
    height: 284px;
}

img.picture {
    height: 90%;
    width: 90%;
}

div.takenOn {
    color: black;
}

a.photoLink:link {
    color: blue;
}

a.photoLink:visited{
    color: purple;
}

#loadingText {
    position: absolute;
    left: 41%;
}

#pleaseWait {
    position: absolute;
    left: 41%;
}


#spinnerContainer {

    height: 160px;
    width: 380px;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    background: #ffffff;
    left: 47%;
    top: 35%;
    display: inline;
}

#clearAll {

    position: absolute;
    left: 85px;
    top: 260px;
}

#mapContainer {
    height: 75%;
    width: 100%;
    position: relative;
    left: 0;

}

#calendar {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
}

#MapCanvas {
    height: 95% ;
    margin: 0;
    text-align: center;
    display: inline;
    position: absolute;
    right: 10px;
    top: 10px;
    left: 350px;
}
#MapOptions { float:left;
    margin: 5px;
}

#addDay {
    position: absolute;
    top: 270px;
    left: 10px;
}

#removeDay {
    position: absolute;
    top: 295px;
    left: 10px;
}